<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Basic Page</title>
</head>
<body>
    <h1>Hello World</h1>
    <h2>Welcome to express basic</h2>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A consequatur repellat, quae quam totam molestias voluptatum aliquid, distinctio, voluptas cumque magnam! Veritatis, illo corporis deserunt excepturi deleniti nam laboriosam rem.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A consequatur repellat, quae quam totam molestias voluptatum aliquid, distinctio, voluptas cumque magnam! Veritatis, illo corporis deserunt excepturi deleniti nam laboriosam rem.</p>
</body>
</html>